html {
	height: 100%;
}

h1 {
	color: white;
	text-align: center;
	margin: 20px;
	padding:5px;
}
h3, a, div {
	text-shadow: 2px 2px 2px #000;
	font-family: raleway;
}

.dropdown-content.select-dropdown.multiple-select-dropdown {
	text-shadow: 0px 0px 0px white;
}
h3, a {
	font-size: 38px;
}

input.select-dropdown {

}

body {
	/*position: relative;*/
	height: 100%;
	background: linear-gradient(-45deg, #35AEF2, #3297B6, #397AF2, #5030F2);
		background-size: 1000% 1%;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	animation: Gradient 35s ease infinite;
	/*display: flex;*/
    min-height: 100vh;
    /*flex-direction: column;*/
}

main {
    flex: 1 0 auto;
  }

nav {
	background-color: #082B6F;
	padding: 10px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.page-footer {
	background-color: #1b55c7;
	text-align: center;
	height: 70px;
	padding-bottom: 10px;
	position: relative;
	bottom: -365px;
}

.ForexPage {
top: 20px;
}

nav.nav-extended, a.brand-logo.center, .page-footer  {
background-color: #1b55c7;
	/*background: linear-gradient(-45deg, #4556F2, #3F6AB6, #397AF2, #5030F2);
		background-size: 400% 400%;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	animation: Gradient 35s ease infinite;*/
} 
	

.nav-content {
	padding:20;
}

.container .select-wrapper input.select-dropdown {
  border-bottom: 0px;
	border: #082B6F 2px solid;
	color: #082B6F;
	border-radius: 15px;
	background-color: rgba(239, 236, 236, 0.54);
}

.select-wrapper span.caret {
 	color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  margin-right: 10px;
  font-size: 10px;
  line-height: 10px;
}

.nav-wrapper {
  /*background-color: #082B6F;*/
	padding-left: 15px;
	padding-right: 15px;
}

nav .brand-logo.center {
	width: 100%;
}

.inputAPI {
	/*border: 2px solid #082B6F;*/
	text-align: center;
	height: 60vh;
	overflow: auto;
	border-radius: 15px;
}

.inputPage2{
	/*border: 2px solid #082B6F;*/
	text-align: center;
	width: 70%;
	height: 70%;
	/*margin-top: 10%;*/
}

.inputPage3{
	/*border: 2px solid #082B6F;*/
	text-align: center;
	/*width: 70%;
	height: 70%;
*/}

.pageOnefix {
	height: 100%;
	margin: 20px;
}



.rowCurrency {
	margin: 15px;
	padding: 10px;
	/*border: #082B6F 2px solid;*/
	color: white;
	background-color: rgba(24, 52, 136, 0.81);
	border-radius: 15px;
	font-size: 18px;
	box-shadow: 5px 5px 5px rgba(16, 15, 15, 0.51);
}

.userCurrency {
	text-align: center;
/*	border: 2px solid;*/
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 15px;
}


.container .row {
  margin-left: 1rem;
  margin-right: 1rem;
}

.imgFix {
	/*max-width: 65px;*/
	text-align: center;
	/*border: 2px solid white;*/
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
}


#page1 {
	height: 100%;
	margin-top: 30px;
	/*background-color: yellow;*/
}

#page2 {
	height: 100%;
	margin-top: 30px;
	/*padding-top: 15%;*/
	/*overflow: hidden;*/
	/*background-color: brown;*/
}

#page3 {
	height: 100%;
	margin-top: 30px;
	/*overflow: hidden;*/
	/*background-color: gray;*/
	/*position: absolute;*/
}

/*.pushDown {
	padding-top: 10%;
}*/

.widgetPlace {
	height: 75%;

	/*padding-top: 15%*/
}


@media only screen and (max-width: 600px) {

#page1, #page2, #page3 {
	height: 100%;
}

/*.imgGraph {
	padding-top: 50%;
}*/

.inputAPI {
	/*border: 2px solid #082B6F;*/
	text-align: center;
	height: 295px;
	overflow: auto;
	border-radius: 15px;
}

}
